<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.jzplius.flickrfeed" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="lt.flickrfeed.jzplius.feed_items_list.FeedsListActivity"
            android:configChanges="orientation"
            android:label="@string/photo_feed"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lt.flickrfeed.jzplius.common.NetworkUnavailableActivity"
            android:configChanges="orientation"
            android:label="@string/no_internet_connection"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lt.flickrfeed.jzplius.feed_photo.PhotoActivity"
            android:label="@string/title_activity_full_screen_photo"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <receiver
            android:name="lt.flickrfeed.jzplius.common.ConnectionChangeReceiver"
            android:label="NetworkConnection"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
